body{
     height: 500px;
     background-image:url("https://i.gifer.com/origin/12/12201ddca23243019c8bf1e434e1b519_w200.gif?hl=en_IN");
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-size:100% 100%;
}
